{%extends 'base.html'%}
{%block content%}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>List of Stock</h5>
            <table class="table">
                <tr>
                	<th>SL No.</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Edit Item</th>
                    <th>Date Created</th>
                    <th>Delete</th>
                    <th>Last Updated</th>
					
                </tr>
                {%for item in stock_list%}
                <tr>
                	<td>{{page_objects.start_index|add:forloop.counter0}}</td>
                            
                    <td><a href="{% url 'item-detail' item.slug%}">
                            {{item.item_name|capfirst}}</a></td>
                    <td><a href="">{{item.category|capfirst}}</a></td>

                    <td>
                    {%if item.quantity <= item.reorder_level%}
                    <a class="btn btn-danger" href="{% url 're-order' item.slug%}">
                        {{item.quantity}}</a>
                    {%else%}
                        {{item.quantity}}
                    </td>
                    {%endif%}

                    <td><a href="{% url 'update-item' item.slug%}" type="submit" class="btn btn-secondary btn-md">Edit item</a></td>
                    <td>{{item.date_created|date}}</td>

                    <td><a href="{% url 'delete-item' item.slug%}" type="submit" class="btn btn-warning btn-md">Delete item</a></td>

                    <td>{{item.last_updated|date}}</td>
                    
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>

{%include 'tags/pagination.html'%}
{%endblock%}